@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0d1117 !important;
  color: white;
  min-height: 100vh;
}

.recharts-wrapper {
  background-color: #1a1f2d !important;
}

.recharts-surface {
  background-color: #1a1f2d !important;
}

input[type="number"],
input[type="text"] {
  background-color: #131720 !important;
  color: rgb(229, 231, 235) !important;
  border-color: rgb(55, 65, 81) !important;
}

input[type="range"] {
  accent-color: rgb(59, 130, 246);
}

/* Remove input number spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}